@use '../App';

#board {
    width: 100%;
    aspect-ratio: 1;
    border-radius: App.$border-radius;
    box-shadow: 0.5rem 0.5rem App.$dark-color;
    padding: 1rem;
    background: white;

    @media (width <= (App.$screen-break-point-small)) {
        box-shadow: 2.2vw 2.2vw App.$dark-color;
    }
}

#board-grid-bg {
    background: App.$dark-color;
    display: grid;
    gap: 3%;
    aspect-ratio: 1;
    border-radius: App.$border-radius;

    .square {
        $extra-border-margin: 0.5px;

        width: 86px;
        height: 86px;
        background: white;
        transition: background App.$transition-duration;
        display: flex;
        justify-content: center;
        align-items: center;

        &.available:hover {
            background: App.$light-hover-color;
            cursor: pointer;
        }

        @keyframes fade-bg {
            from {
                background: white;
            }
            to {
                background: App.$light-hover-color;
            }
        }

        &.winning-square {
            animation: 0.05s fade-bg 11 alternate forwards;
            background: white;
        }

        &.first-row {
            height: calc(100% + $extra-border-margin);
            transform: translate(0, -$extra-border-margin);

            &.leftmost-column {
                width: calc(100% + $extra-border-margin);
                transform: translate(-$extra-border-margin, -$extra-border-margin);
            }

             &.rightmost-column {
                width: calc(100% + $extra-border-margin);
                transform: translate(0, -$extra-border-margin);
            }
        }

        &.last-row {
            height: calc(100% + $extra-border-margin);
        }

        &.leftmost-column {
            width: calc(100% + $extra-border-margin);
            transform: translate(-$extra-border-margin, 0);
        }

        &.rightmost-column {
            width: calc(100% + $extra-border-margin);
        }

        .symbol {
            &.cross {
                width: 90%;
                height: 90%;
            }

            &.circle {
                width: 77%;
                height: 77%;
            }
        }
    }
}
