@use '../App';

#board {
    width: 100%;
    aspect-ratio: 1;
    border-radius: App.$border-radius;
    box-shadow: 0.5rem 0.5rem App.$dark-color;
    padding: 1rem;
    background: white;
}

#board-grid-bg {
    background: App.$dark-color;
    display: grid;
    gap: 3%;
    aspect-ratio: 1;
    border-radius: App.$border-radius;

    .square {
        width: auto;
        height: auto;
        background: white;
        transition: background App.$transition-duration;
        display: flex;
        justify-content: center;
        align-items: center;

        &.available:hover {
            background: App.$light-hover-color;
            cursor: pointer;
        }

        @keyframes fade-bg {
            from {
                background: white;
            }
            to {
                background: App.$light-hover-color;
            }
        }

        &.winning-square {
            animation: 0.05s fade-bg 11 alternate forwards;
            background: white;
        }

        .symbol {
            &.cross {
                width: 90%;
                height: 90%;
            }

            &.circle {
                width: 77%;
                height: 77%;
            }
        }
    }
}
