@use '../App';
@use 'sass:color';

// noinspection Stylelint
@import
'https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@900&display=swap';

.app-header {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1 {
        $font-size: App.$h1-font-size;

        text-align: center;
        color: App.$primary-color;
        text-transform: uppercase;
        text-shadow: $font-size / 15 $font-size / 15 App.$dark-color;
        margin-bottom: 1rem;
        padding: 0 0.5rem;
        margin-top: 2rem;
        letter-spacing: 1.3rem;
        font-style: italic;

        @media (width <= (App.$screen-break-point-large)) {
            margin-bottom: App.$row-gap;
            line-height: App.$h1-font-size;
        }

        // TODO: Size proportional to vw on very small devices
        @media (width <= (App.$screen-break-point-small)) {
            $font-size: $font-size * App.$large-small-font-size-ratio;

            text-shadow: calc($font-size / 15) calc($font-size / 15) App.$dark-color;
            font-size: $font-size;
            margin-bottom: App.$row-gap * App.$large-small-font-size-ratio;
        }
    }
}

