@use '../App';
@use 'sass:color';

// noinspection Stylelint
@import
'https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@500;600:wght@900&display=swap';

.app-header {
    flex: 1.3 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1 {
        $font-size: App.$h1-font-size;

        text-align: center;
        color: App.$primary-color;
        text-transform: uppercase;
        text-shadow: $font-size / 15 $font-size / 15 App.$dark-color;
        margin-bottom: 3rem;
        padding: 0 0.5rem;
        white-space: nowrap;

        @media (width <= (App.$screen-break-point-large)) {
            margin-bottom: 3rem - App.$row-gap;
        }

        @media (width <= (App.$screen-break-point-small)) {
            $h1-font-size: App.$h1-font-size;
            $font-size: min($h1-font-size, 15vw);

            text-shadow: calc($font-size / 15) calc($font-size / 15) App.$dark-color;
            font-size: $font-size;
        }
    }
}

