@use '../App';

#message-area {
    $font-size: App.$h2-font-size;

    font-family: Poppins, sans-serif;
    color: App.$dark-color;
    font-size: $font-size;
    font-weight: 900;
    margin-top: App.$row-gap;

    @media (width <= (App.$screen-break-point-small)) {
        $font-size: App.$h3-font-size;

        font-size: $font-size * App.$large-small-font-size-ratio;
        margin-bottom: 1rem;
    }

    @media (width > (App.$screen-break-point-small)) and (width <= (App.$screen-break-point-large)) {
        font-size: App.$h3-font-size;
        margin-top: App.$row-gap / App.$large-small-font-size-ratio;
        margin-bottom: 1rem / App.$large-small-font-size-ratio;
    }
}
