@use '../App';

$screen-bp: App.$screen-break-point-small;

button {
    $box-shadow-offset: 0.2rem;
    $btn-height: 2rem;

    height: $btn-height;
    width: min(12rem, 95%);
    background: App.$primary-color;
    border: none;
    border-radius: App.$border-radius-small;
    cursor: pointer;
    box-shadow: $box-shadow-offset $box-shadow-offset App.$dark-color;
    font-family: inherit;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: transform App.$transition-duration;
    color: #ffff;
    margin-bottom: 15%;

    @media (width > $screen-bp) {
        font-size: App.$btn-font-size;
    }

    @media (width <= $screen-bp) {
        $box-shadow-offset: $box-shadow-offset * App.$large-small-font-size-ratio;

        box-shadow: $box-shadow-offset $box-shadow-offset App.$dark-color;
        font-size: App.$btn-font-size * App.$large-small-font-size-ratio;
        width: 100%;
        height: $btn-height * App.$large-small-font-size-ratio;
    }

    &:hover {
        transform: scale(1.1);
    }
}
