@use '../App';

#right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: 100%;

    #sidebar {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: App.$border-radius-small;
        padding: 0.5rem;
        color: App.$low-contrast-dark-color;
        background: white;

        h2 {
            width: 100%;
            text-align: center;
            margin: 0.5rem auto;

            @media (width <= (App.$screen-break-point-small)) {
                font-size: App.$btn-font-size * App.$large-small-font-size-ratio;
            }
        }
    }

    @media (width <= (App.$screen-break-point-large)) and (width > (App.$screen-break-point-small)) {
        h2 {
            font-size: App.$btn-font-size;
        }

        #sidebar {
            padding: 0.2rem / App.$large-small-font-size-ratio;
        }
    }

    @media (width > (App.$screen-break-point-large)) {
        justify-content: flex-start;
        flex: 1 1 20%;
        height: 100%;

        #sidebar {
            width: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }

    @media (width <= (App.$screen-break-point-large)) {
        width: 100%;
        background: white;
        border-radius: App.$border-radius-small;

        #sidebar {
            padding: 0.2rem;
        }
    }
}


