// Colors
$dark-color: #333;
$low-contrast-dark-color: #555;
$primary-color: #ffa500;
$light-hover-color: #eee;
$light-gray: #ccc;
$gray: #aaa;
$accent-color: #00c087;

// Font sizes
$h1-font-size: 3rem;
$h2-font-size: 1.2rem;
$btn-font-size: 0.85rem;

$transition-duration: 0.3s;
$transition-duration-short: 0.15s;
$border-radius: 1rem;
$border-radius-small: 0.5rem;
$row-gap: 1.6rem;

$screen-break-point-small: 400px;
$screen-break-point-large: 720px;

// noinspection Stylelint
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@900&display=swap');

* {
    /* border: solid 1px green; */
     box-sizing: border-box;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

html {
    @media (width <= $screen-break-point-small) {
        font-size: 12px;
    }
}

html, body, #root, .app {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient($light-hover-color, $light-gray);
    font-family: 'Lilita One', sans-serif;
    overflow: auto;
}

// TODO: Fill entire (80%) width when <= $screen-break-point-small
main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: min(18rem, 80%);

    #left {
        width: 0;
        height: 0;
    }

    #center {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (width <= $screen-break-point-large) {
            margin-top: $row-gap;
        }
    }

    @media (width > $screen-break-point-large) {
        width: 100%;
        flex-direction: row;
        gap: 1.5rem;

        #center {
            width: min(18rem, 40%);
        }

        #left {
            flex: 1 1 20%;
        }
    }
}
