$dark-color: #333;
$primary-color: #ffa500;
$light-hover-color: #eee;
$light-gray: #ccc;
$transition-duration: 0.3s;
$border-radius: 1rem;
$border-radius-small: 0.5rem;
$accent-color: #00c087;
$btn-font-size: 0.85rem;
$screen-break-point: 400px;

// noinspection Stylelint
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@500;600&display=swap');

* {
    /* border: solid 1px green; */
     box-sizing: border-box;
}

html {
    @media (width <= $screen-break-point) {
        font-size: 12px;
    }
}

html, body, #root, .app {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient($light-hover-color, $light-gray);
    font-family: 'Lilita One', sans-serif;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(18rem, 80%);
}
