// Colors
$dark-color: #333;
$dark-color-hover: #555;
$low-contrast-dark-color: $dark-color-hover;
$primary-color: #ffa500;
$light-hover-color: #eee;
$light-gray: #ccc;
$gray: #aaa;
$dark-gray: #999;
$accent-color: #00c087;

// Font sizes
$h1-font-size: 3rem;
$h2-font-size: 1.2rem;
$h3-font-size: 1rem;
$btn-font-size: 0.85rem;
$p-font-size-large: 16px;
$p-font-size-small: 12px;
$large-small-font-size-ratio: $p-font-size-large / $p-font-size-small;

$transition-duration: 0.3s;
$transition-duration-short: 0.15s;

$border-radius: 1rem;
$border-radius-small: 0.5rem;

$screen-break-point-small: 400px;
$screen-break-point-large: 720px;

$row-gap: 1.6rem;

// noinspection Stylelint
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@900&display=swap');

* {
    /* border: solid 1px green; */
     box-sizing: border-box;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

html {
    font-size: $p-font-size-large;

    @media (width <= $screen-break-point-small) {
        font-size: $p-font-size-small;
    }
}

html, body, #root, .app {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient($light-hover-color, $light-gray);
    font-family: 'Lilita One', sans-serif;
    overflow: auto;
    height: unset;
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: min(18rem, 80%);
    height: 100%;

    #left {
        width: 0;
        height: 0;
    }

    #center {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (width <= $screen-break-point-large) {
            margin-top: $row-gap / $large-small-font-size-ratio;
        }

        @media (width <= $screen-break-point-small) {
            margin-top: $row-gap;
        }
    }

    @media (width > $screen-break-point-large) {
        width: 100%;
        flex-direction: row;
        gap: 1.5rem;
        align-items: flex-start;

        #center {
            width: min(18rem, 40%);
        }

        #left {
            flex: 1 1 20%;
        }
    }

    @media (width <= $screen-break-point-small) {
        width: 80%;
    }
}
