@use 'App';
@use 'sass:color';

// noinspection Stylelint
@import 'https://fonts.googleapis.com/css2?family=Lilita+One&display=swap';

.app-header {
    h1 {
        text-align: center;
        font-size: 3rem;
        font-family: 'Lilita One', sans-serif;
        flex: 0 1 auto;
        color: App.$primary-color;
        text-transform: uppercase;
        /* letter-spacing: 0.2rem; */
        text-shadow: 0.2rem 0.2rem App.$dark-color;

        /* span {
            &:nth-of-type(1) {
                color: App.$primary-color;
            }
            &:nth-of-type(2) {
                color: color.adjust(App.$primary-color, $lightness: -25%);
            }
        } */
    }
}

